@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./CabinetGrotesk-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JUGGLER'; /* Define  */
    src: url('./JUGGLER demo.ttf') format('truetype'); /* Ensure correct path */
    font-weight: normal;
    font-style: normal;
}